.subjectHeader{
  color: green;
  font-family: sans-serif;
}
table, th, td{
  border: 1px solid;
  text-align: center;
}
thead{
  color: red;
  font-weight: bold;
}

ul li{
  list-style-type: square;
}

a:hover{
  background-color: yellow;
  text-decoration: none;
}

blockquote{
  background-color: black;
  color: lightpink;
}
